@model List<Microsoft.AspNetCore.Identity.IdentityRole>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>


    
        <title>Roles</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/font-awesome/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/AdminTemplate/dist/css/adminlte.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/iCheck/flat/blue.css">
        <!-- Morris chart -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/morris/morris.css">
        <!-- jvectormap -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
        <!-- Date Picker -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/datepicker/datepicker3.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/daterangepicker/daterangepicker-bs3.css">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <!-- bootstrap rtl -->
        <link rel="stylesheet" href="~/AdminTemplate/dist/css/bootstrap-rtl.min.css">
        <!-- template rtl version -->
        <link rel="stylesheet" href="~/AdminTemplate/dist/css/custom-style.css">



        </head>
    <body>
        
<a asp-controller="ManageRole" asp-action="AddRole" class="btn btn-primary" >نقش جدید</a>


@if (!Model.Any())
{
    <h1>هیچ نقشی یافت نشد</h1>
}

else
{
 for (int i = 0; i < Model.Count; i++)
    {

        <div class="card mt-2" >
            <div class="card-body">
                <b>نام نقش:@Model[i].Name</b>
            </div>
            <div  class="card-footer">
                <form asp-controller="ManageRole" asp-action="DeleteRole" method="post" asp-route-id="@Model[i].Id">
                        <a asp-controller="ManageRole" asp-action="EditRole"  asp-route-id="@Model[i].Id" class="btn btn-primary">ویرایش نفش</a>
                <button type="submit" class="btn btn-danger">حذف نقش </button>
                        </form>
            </div>

        </div>

        
    }   
}
    </body>
</html>
